<%= render 'layouts/navbar' %>



<h1>About Page </h1>
<p>The about page provides information about your business, its history, and its mission. Consider including:</p>

<p>A brief history of your gift shop.</p>
<p>Information about your team or the people behind the business.</p>
<p>Your mission statement or core values.</p>
<p>Any unique selling points or reasons why customers should choose your shop. </p>