<%= render 'layouts/navbar' %>


 <h1>Contact Page:  </h1>
 <p>The contact page enables visitors to get in touch with your business. Make sure to include:</p>

 <p>Contact information, such as address, phone number, and email.</p>
 <p>A contact form for visitors to submit inquiries or messages.</p>
 <p>Business hours or availability.</p>
 <p>Links to your social media profiles, if applicable.</p>